# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

simulate 
tags 
testbrain
testmat2
testmatops

# Editor temporary files
*.swp
