# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Project executables
simulate
tags
testbrain
testmat2
testmatops

*.err
*.out
# Editor temporary files
*.swp
*.ll
